<div class="collapse navbar-collapse show" id="navbarWithDropdown">
  <nav class="navbar navbar-expand-xl navbar-light" style="background-color: #20CB87 ;">

    <ul class="navbar-nav">
      <li class="nav-item">
      <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
      <%= link_to "Inicio", root_url, class: 'nav-link' %>
    </li>

      <a class="nav-link" href="/medical_center_officials">Centros de Salud</a>
      <a class="nav-link" href="/workers">Trabajadores</a>
      <a class="nav-link" href="/guards">Guardias</a>
      <a class="nav-link" href="/appointments">Turnos</a>

    </ul>
  </nav>
</div>
