<h1>Editing Medical Center Official</h1>

<%= render 'form', medical_center_official: @medical_center_official %>

<%= link_to 'Show', @medical_center_official %> |
<%= link_to 'Back', medical_center_officials_path %>
